.section {
  position: relative;
  width: 300px;
  height: 130px;
  border-radius: 30px;
  overflow: hidden;
}

.houses {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.front {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  margin-top: 2px;
}

.house1 {
  width: 110%;
  height: 110%;
  z-index: 2;
  position: absolute;
  transition: all 0.8s ease;
  transform: translateY(10px);
}

.house2 {
  width: 110%;
  height: 110%;
  z-index: 2;
  position: absolute;
  right: 4px;
  transition: all 0.8s ease;
  transform: translateY(10px);
}

.text__area {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.owner {
  z-index: 3;
  position: absolute;
  top: 80px;
  left: 50px;
  padding: 8px;
  font-size: 20px;
  background-color: rgba(211, 211, 211, 0.9);
  border-radius: 10px;
  transition: all 0.8s ease;
}

.owner:hover {
  background-color: rgb(248, 248, 248);
  transition: all 0.8s ease;
}

.owner:hover + .house1 {
  transition: all 0.8s ease;
  transform: translateY(-45px);
}

.renter {
  z-index: 3;
  position: absolute;
  top: 80px;
  left: 180px;
  padding: 8px;
  font-size: 20px;
  background-color: rgba(211, 211, 211, 0.9);
  border-radius: 10px;
  transition: all 0.8s ease;
}

.renter:hover {
  background-color: rgb(248, 248, 248);
  transition: all 0.8s ease;
}
.renter:hover + .house2 {
  transition: all 0.8s ease;
  transform: translateY(-35px);
}
